.attendance-table-attendance-cell {
  display: flex !important;
  justify-content: flex-end;
}

.cabin-table{
  margin-top: 30px!important;
}

.attendance-active-button {
  background-color: orangered!important;
}

.attendance-disabled-button {
  opacity: 0.4;
}