.attendance-table-attendance-cell {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cabin-table{
  margin-top: 30px!important;
}

.attendance-active-button {
  background-color: orangered!important;
}

.attendance-disabled-button {
  opacity: 0.4;
}


.cabin-table-collapsible {
  &-table-head > th {
    text-align: center;
    @media(min-width: 1024px) {
      font-size: 1.3rem;
    }
  }
  &-table-cell{
    @media(min-width: 1024px) {
      font-size: 1rem !important;
    }
    &-event-type {
      font-family: "monospace" !important;
    }
  }
}