.card-player {
  width: 226px;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 300px; }

.card__side {
  color: salmon;
  font-size: 2rem;
  height: 300px;
  transition: all .8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
.card__side--front {
  background-color: #fff; }
.card__side--back {
  transform: rotateY(180deg); }
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
.card-player:hover .card__side--front {
  transform: rotateY(-180deg); }
.card-player:hover .card__side--back {
  transform: rotateY(0); }
.card__picture {
  background-size: cover;
  height: 150px;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
//.card__picture--1 {
//  //background-image: linear-gradient(to right bottom, #ffb900, #ff7730) }

.MuiPaper-root.MuiTableContainer-root.MuiPaper-elevation1.MuiPaper-rounded {
  width: 55%;
}

#table-attendance {
  display: flex;
}

#table-attendance > li {
  margin: 0 1rem 0 1rem;
  list-style-type: none;
}