.nearest-event {
  display: flex;
  margin-top: 20px;

  &-player {
    margin: 0 10px 0 10px;
    width: 80px !important;
    height: 80px !important;
  }
}
.cabin {
  display: flex;
  flex-direction: column;
  &-nearest-attendance {
    display: flex;
    justify-content: start;
    margin-bottom: 15px;
  }
  &-nearest-avatars {
    padding-bottom: 40px;
    border-bottom: 1px solid lightblue;
  }
  &-nearest-span {
    margin-top: 10px;
    font-size: 18px;
  }

  &-table {
    &-header {
      display: flex;
      justify-content: center;
      margin: 15px 0 27px 0 !important;
    }
  }
}
.cabin-headline {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  @media(min-width: 1024px) {
  font-size: 18px;
  }


}

.card-players {
  display: flex;
  list-style: none;
}
.card-player {
  width: 226px;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 300px;
  margin-left: 20px;

  &-img {
    height: 200px;
    width: 230px;
  }
}

.card__side {
  color: salmon;
  font-size: 2rem;
  height: 300px;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card-player:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card-player:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 150px;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
//.card__picture--1 {
//  //background-image: linear-gradient(to right bottom, #ffb900, #ff7730) }

.MuiPaper-root.MuiTableContainer-root.MuiPaper-elevation1.MuiPaper-rounded {
  width: 100%;
}






